<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2>Tasks</h2>
<%= render @user.tasks %>

<h2>Add a task</h2>
<%= render 'tasks/form' %>


<%= link_to 'Edit User', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
